// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

a {
    color: $primary-text;

    &:hover {
        text-decoration: none;
        color: $primary-text-hover;
    }
}

.nav-link {
    color: #000;
}

.caramel-title {
    display: flex;

    &__custom-logo {
        box-sizing: border-box;
        max-width: 200px;
        padding: 20px;

        @media ( min-width: 480px ) {
            max-width: 300px;
            padding: 30px;
        }

        @media ( min-width: 768px ) {
        }
    }
}

.caramel-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    margin: 35px 20px;

    @media ( min-width: 480px ) {
        margin: 60px 20px;
    }
    
    /*&__toggle {
    }*/

    &__list {
        box-sizing: border-box;
        width: 100%;
        padding: 100px 0 0 0;
        font-size: 20px;
        list-style: none;

        li {
            text-align: center;
            padding: 5px 10px;
        }

        @media ( min-width: 480px ) {
            padding: 150px 0 0 20px;
        }

        @media ( min-width: 768px ) {
            font-size: 30px;
        }
    }
}


.caramel-nav-toggle {
    position: relative;
    z-index: 100;
    display: inline-block;
    border: none;
    text-decoration: none;
    background: $transparent;
    cursor: pointer;
    @include ease();
    
    &:hover,
    &:focus {
        background: $transparent;
    }
    
    &:focus {
        outline: none;
    }
    
    &:active {
        transform: 1;
    }

    // --- start burger animation & style ---

    &__icon {
        width: 50px;
        height: 36px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $primary-text;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2), span:nth-child(3) {
            top: 12px;
        }

        span:nth-child(4) {
            top: 24px;
        }
    }

    &:active, &:not(.collapsed) {
        .caramel-nav-toggle__icon {
            span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
    
            span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
    
            span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
    
            span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }

    // --- end burger animation & style ---
}

.caramel-nav-collapse {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $primary-background;
    box-sizing: border-box;
    width: 0 !important;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.03);
    @include ease();

    &.collapsing {
        width: 0 !important;
    }

    &.show {
        width: 300px !important;
    }
}

.caramel-slider {
    margin-bottom: 50px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    max-height: 75vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    &--fullwidth {
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.caramel-slide {
    position: relative;
    width: 100%;
    padding: 27% 0;

    @media ( min-width: 768px ) {
        padding: 25% 0;
    }

    &__image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__number {
        display: none;;
        color: #000;
    }
    &__image {
        width: 100%;
        height: auto;
    }

    &__text {
        display: none;
        color: #000;
    }
}

.caramel-showreels {
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 30px;

    @media ( min-width: 768px ) {
        margin: 50px auto 0;
    }

    &__title {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
}

.caramel-showreel-container {
    display: flex;
    flex-direction: row;

    &__item-wrapper {
        --video--width: 16;
        --video--height: 9;

        position: relative;
        padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
        overflow: hidden;
        width: 100%;

        &--two {
            --video--width: 32;
            --video--height: 9;

            padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);

            &:first-child {
                margin-right: 10px;
            }
            &:last-child {
                margin-left: 10px;
            }
        }
    }

    &__item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media ( max-width: 768px ) {
        flex-direction: column;

        &__item-wrapper {

            &--two {
                --video--width: 16;
                --video--height: 9;
    
                padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);

                margin: 0;

                &:first-child {
                    margin-right: 0 !important;
                    margin-bottom: 10px;
                }
                &:last-child {
                    margin-left: 0 !important;
                    margin-top: 10px;
                }

            }
        }
    }
}

.caramel-portfolio-wrapper {
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;

    @media ( min-width: 480px ) {
        padding: 10px 30px;
    }

    @media ( min-width: 768px ) {
        padding: 20px 50px;
    }
}

.caramel-portfolio-header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.caramel-archive-title {
    @media ( min-width: 768px ) {
        font-size: 100px;
    }
}

.caramel-entry-title {
    @media ( min-width: 768px ) {
        font-size: 100px;
    }
}

.caramel-portfolio {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    &__column {
        //&--one {}
        &--two {
            display: none;
            @media ( min-width: 480px ) {
                display: block;
            }
        }
        &--three {
            display: none;
            @media ( min-width: 768px ) {
                display: block;
            }
        }
    }
}

.caramel-portfolio-item {
    box-sizing: border-box;
    max-width: 100%;
    padding: 5px;
    cursor: pointer;

    @media ( min-width: 768px ) {
        padding: 10px;
    }

    &__image {
        max-width: 100%;
        height: auto;
    }
}

.caramel-home-info {
    text-align: center;
    width: 100%;
    margin: 10px 0 50px;

    &__row {
        padding: 5px;
    }
}

.caramel-theme-credit {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;

    &__link {
        background-color: #e9e9e9;
        padding: 3px 10px;
        border-radius: 10px;
        font-style: italic;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
    }
}

.caramel-single-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.caramel-single-content {
    padding: 10px;

    @media ( min-width: 480px ) {
        padding: 20px;
    }

    @media ( min-width: 768px ) {
        padding: 30px;
    }
}

.caramel-portfolio-projects-wrapper {
    max-width: 1200px;
    margin: 0px auto 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media ( min-width: 768px ) {
        margin: 30px auto 0;
    }
}

.caramel-portfolio-projects-title {
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.caramel-portfolio-project {
    box-sizing: border-box;
    width: 100%;
    padding: 28% 0;
    position: relative;
    overflow: hidden;
    z-index: 98;

    @media ( min-width: 500px ) {
        width: 50%;
        padding: 14% 0;
    }

    @media ( min-width: 1000px ) {
        width: 33.3%;
        padding: 9.515% 0;
    }

    &__header {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        z-index: 98;
        background-color:rgba(0,0,0,0.07);
        margin: 10px;
        transition: all 0.3s;

        @media ( min-width: 768px ) {
            opacity: 0;
        }

        &:hover {
            @media ( min-width: 768px ) {
                opacity: 1;
            }
        }
    }

    &__image-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 97;
        margin: 10px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: auto;
    }
}

.caramel-footer {
    min-height: 50px;
    padding: 40px;
}

.caramel-footer-menu {
    padding: 10px;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0;

        li {
            margin: 5px;
        }

        li:after {
            content: " | ";
            margin-left: 5px;
        }

        li:last-child:after {
            content: "";
            margin-left: 0;
        }
    }
}

// WP-Gutenberg Overwrite

.blocks-gallery-item {
    box-sizing: border-box;
    flex-basis: 100%;
    padding: 8px;
    margin: 0 !important;

    @media ( min-width: 500px ) {
        flex-basis: 50%;
    }

    @media ( min-width: 1000px ) {
        flex-basis: 33%;
    }
}

.caramel-entry-content {
    p {
        max-width: 500px;
    }
}

