// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.home-banner {
    width: 100%;
    height: 800px;
    background-color: #ccc;
}

.nav-link {
    color: #000;
}